[submodule "external/tinycmmc"]
	path = external/tinycmmc
	url = https://github.com/grumbel/tinycmmc.git
[submodule "external/clanlib"]
	path = external/clanlib
	url = https://github.com/grumbel/clanlib-1.0.git
